.login-page {
    display: flex;
    flex-flow: row;
}

.left-container {
    display: flex;
    position: relative;
    width: calc(100vw - 525px);
    height: 100vh;
}

.app-logo {
    display: block;
    height: 170px;
    margin: auto;
}

.dteti-logo {
    position: absolute;
    bottom: 2vh;
    left: 1vw;
    height: 40px;
}

.right-container {
    display: flex;
    width: 525px;
    height: 100vh;
}

.sign-box {
    width: 450px;
    height: 93vh;
    min-height: 700px;
    margin: auto;
    border-radius: 40px;
    background-color: rgb(230, 232, 240, 0.6);
    overflow: hidden;
}

.mobile-logo {
    width: 0;
}

.choose-sign {
    margin: 20px calc(50% - 100px);
}

.choose-sign button {
    height: 40px;
    width: 100px;
    border: none;
    font-weight: bold;
    color: rgb(238, 216, 93);
    background-color: rgb(38, 42, 65);
}

.choose-sign button:hover {
    cursor: pointer;
    background-color: rgb(44, 50, 85);
}

.choose-sign button:focus {
    outline: none;
}

.choose-signup {
    border-radius: 15px 0px 0px 15px;
}

.choose-signin {
    border-radius: 0px 15px 15px 0px;
}

/*----------------------------------------------------------SIGN UP STYLE--------------------------------------------------------*/

.signup h1 {
    display: block;
    width: fit-content;
    margin: auto;
    font-weight: 1000;
    font-size: 30px;
}

.signup-form {
    margin: 7% 10%;
}

.signup-form h3 {
    display: inline-block;
    font-size: small;
}

.signup-input {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: white;
}

.signup-input i {
    margin: 7px 7px;
    color: rgb(180, 179, 179);
}

.signup-input:focus {
    border: 2px solid black;
}

.signup-input input, select {
    display: inline-block;
    width: 84%;
    position: absolute;
    bottom: 7px;
    border-style: none;
}

.signup-input input:focus {
    outline: none;
}

.signup-button {
    height: 40px;
    width: 80%;
    margin: 30px 10%;
    border: none;
    background-color: rgb(38, 42, 65);
    border-radius: 15px;
    color: rgb(238, 216, 93);
    font-weight: bold;
}

.signup-button:focus {
    outline: none;
}


.signup-button:hover {
    background-color: rgb(56, 61, 90);
}

/*----------------------------------------------------------SIGN IN STYLE--------------------------------------------------------*/

.signin h1 {
    display: block;
    width: fit-content;
    margin: auto;
    font-weight: 1000;
    font-size: 30px;
}

.signin-form {
    margin: 7% 10%;
}

.signin-form h3 {
    display: inline-block;
    font-size: small;
}

.signin-input {
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 3%;
    border-radius: 10px;
    background-color: white;
}

.signin-input i {
    margin: 7px 7px;
    color: rgb(180, 179, 179);
}

.signin-input:focus {
    border: 2px solid black;
}

.signin-input input, select {
    display: inline-block;
    width: 84%;
    position: absolute;
    bottom: 7px;
    border-style: none;
}

.signin-input input:focus {
    outline: none;
}

.signin-button {
    height: 40px;
    width: 80%;
    margin: 30px 10%;
    border: none;
    background-color: rgb(38, 42, 65);
    border-radius: 15px;
    color: rgb(238, 216, 93);
    font-weight: bold;
}

.signin-button:focus {
    outline: none;
}


.signin-button:hover {
    background-color: rgb(56, 61, 90);
}