.header-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.left-header-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 55px;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.header-logo{
  height: 55px;
  margin-left: 1vw;
  margin-right: 2vw;
}

.searchbox-container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: solid 2px rgb(247, 249, 252);
  background-color: rgb(247, 249, 252);
}

.searchbox-container img {
  height: 20px;
  margin: auto 7px;
}

.searchbox-container input {
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(247, 249, 252);
}

.searchbox-container input:focus {
  outline: none;
  background-color: white;
}

.focus {
  border: solid 2px rgb(247, 249, 252);
  background-color: white;
}

.right-header-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 55px;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.notification {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: rgb(230, 232, 238);
  margin-right: 20px;
}

.account-name h2{
  font-size: medium;
}

.account-name h3 {
  font-size: small;
}

.account-picture img{
  height: 45px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 1vw;
  cursor: pointer;
}

.body-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 90px);
  width: 100vw;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: calc(206.05px + 3vw);
  height: calc(100vh - 90px);
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.btn-sidebar {
  display: flex;
  flex-direction: row;
  width: calc(206.05px + 1vw );
  height: 45px;
  margin: 0 auto 10px auto;
  border-radius: 15px;
  cursor: pointer;
}

.btn-sidebar:hover {
  background-color: rgba(248, 235, 115, 0.658);
}

.btn-sidebar:hover .sidebar-text h3 {
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.btn-sidebar:hover .sidebar-icon {
  background-color: rgb(38, 42, 65);
  color: rgb(255, 255, 255);
  opacity: 1;
  border: 0px;
}

.sidebar-active {
  background-color: rgba(248, 226, 23, 0.658);
}

.sidebar-active .sidebar-text h3 {
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.sidebar-active .sidebar-icon {
  background-color: rgb(38, 42, 65);
  color: rgb(255, 255, 255);
  opacity: 1;
  border: 0px;
}

.sidebar-icon {
  display: flex;
  width: 35px;
  height: 35px;
  border: 1px solid rgb(158, 157, 157);
  border-radius: 8px;
  margin: 5px 5px;
  background-color: white;
  opacity: 0.5;
}

.sidebar-icon i {
  margin: auto;
}

.sidebar-text {
  margin: auto auto auto 10%;
}

.sidebar-text h3{
  display: block;
  margin: auto;
  font-size: 14px;
}

.content-container {
  display: flex;
  border-radius: 30px;
  background-color: rgb(247, 249, 252);
}

.content-profileview-active {
  width: calc(100vw - 206.05px - 4vw - 20vw);
  height: calc(100vh - 90px - 1vw);
}

.content-profileview-deactive {
  width: calc(100vw - 206.05px - 4vw);
  height: calc(100vh - 90px - 1vw);
}

.content-box-container {
  width: 96%;
  height: calc(100vh - 90px - 4vw);
  margin: auto;
  overflow: auto;
}

.main-dashboard {
  width: 100%;
  height: calc(100vh - 90px - 4vw);
}

.hello-text {
  display: inline-block;
  font-size: 18px;
  color: rgb(175, 174, 174);
  margin-bottom: 40px;
}

.hello-text span {
  font-weight: bold;
  color: black;
}

.feature-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.feature-header img {
  height: 30px;
  margin: auto 10px auto 0;
}

.feature-header h2 {
  display: block;
  margin: auto 0;
  font-size: 18px;
  font-weight: lighter;
}

.feature-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature-item {
  height: 420px;
  width: 23%;
  min-width: 200px;
  border-radius: 20px;
  background-color: rgb(38, 42, 65);
  position: relative;
}

.feature-item:hover {
  box-shadow: 5px 5px 5px rgb(189, 187, 187);
}

.feature-name {
  display: flex;
  flex-direction: row;
}

.feature-name-box {
  display: inline-block;
  height: 36px;
  width: 10px;
  background-color: rgba(248, 226, 23, 0.658);
  margin: 20px 5px 20px 20px;
}

.feature-name h3{
  display: inline-block;
  text-align: left;
  margin: 20px 20px 20px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
}

.feature-image {
  display: block;
  height: 150px;
  border-radius: 30px;
  margin: auto;
}

.feature-desc {
  display: inline-block;
  font-size: 12px;
  color: white;
  text-align: center;
  margin: 30px;
}

.btn-feature {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  height: 40px;
  width: 100px;
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(238, 216, 93);
  font-weight: bold;
  color: rgb(25, 6, 92);
}

.btn-feature:hover {
  background-color: rgb(175, 150, 4);
}

.selectedfeature-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 90px - 4vw);
}

.steps-container {
  width: 35%;
  height: calc(100vh - 90px - 4vw);
}

.step {
  width: 100%;
  height: fit-content;
  padding-left: 5%;
  margin-bottom: 20px;
  cursor: pointer;
}

.step h3 {
  display: inline-block;
  width: 100%;
  height: fit-content;
  margin-top: 10px;
  color: gray;
  font-size: 17px;
  font-weight: 650;
}

.step p {
  display: inline-block;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
  color: gray;
  font-size: 14px;
  font-weight: 300;
}

.step:hover {
  border-left: 10px solid yellow;
  background-color: white;
}

.step:hover h3 {
  color: black;
}

.modeling-container {
  width: 65%;
  height: calc(100vh - 90px - 4vw);
  background-color: white;
}

.feature-title {
  display: inline-block;
  width: 100%;
  height: fit-content;
  font-size: 22px;
  font-weight: 650;
}

.feature-welcome {
  display: inline-block;
  width: 100%;
  height: fit-content;
  font-size: 18px;
  font-weight: 200;
}

.profile-container {
  display: flex;
  border-radius: 30px;
  background-color: rgb(247, 249, 252);
}

.profileview-active {
  width: 19vw;
  height: calc(100vh - 90px - 1vw);
  margin: 0 1vw;
}

.profileview-deactive {
  width: 0;
  height: 0;
}

.content-profile-container {
  width: 90%;
  height: calc(100vh - 90px - 4vw);
  margin: auto;
}

.profile-history-header {
  font-size: 17px;
  font-weight: normal;
}

.profile-history-container {
  width: 100%;
  height: fit-content;
  background-color: aqua;
}

.progress-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.progress-header-item {
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: bisque;
}