body, html {
  height: 100%;
  margin: 0;
}

/*Header*/
header {
  height: 90px;
  display: flex;
  align-items: center;
}

.con-header {
  height: 60px;
  /*box-shadow: 0 3px 4px -4px black;*/
}

/*Header-Logo*/
.header-logo {
  height: 55px;
  padding: 5px;
}

/*Header-SearchBox*/
.form-search {
  align-items: center;
  height: 50px;
}

.form-control {
  display: flex;
  align-items: center;
  width: 150px;
  background-color: rgb(246, 247, 251);
  border-radius: 25px;
}

.form-control:focus {
  width: 400px;
  transition: 0.8s ease-in-out;
}

/*Header-Notif*/
.notification {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: rgb(230, 232, 238);
  margin-right: 20px;
}

/*Header-Account*/
.header-account {
  display: flex;
  flex-direction: row;
  text-align: right;
  float: right;
  padding: 5px;
  border-radius: 5px;
}

.account-name h2{
  font-size: medium;
}

.account-name h3 {
  font-size: small;
}

.account-picture img{
  height: 45px;
  border-radius: 50%;
  margin-left: 15px;
}

/*Body*/
.sidebar {
  padding: 0px;
}

.btn-sidebar {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
}

.btn-sidebar:hover {
  background-color: rgba(248, 226, 23, 0.658);
}

.btn-sidebar:hover .sidebar-text h3 {
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.btn-sidebar:hover .sidebar-icon {
  background-color: rgb(38, 42, 65);
  color: rgb(255, 255, 255);
  opacity: 1;
  border: 0px;
}

.sidebar-icon {
  padding: 5px 10px;
  border: 1px solid rgb(158, 157, 157);
  border-radius: 8px;
  background-color: white;
  opacity: 0.5;
}

.sidebar-text {
  margin: auto auto auto 10%;
}

.sidebar-text h3{
  display: block;
  margin: auto;
  font-size: 14px;
}

.setting-position {
  margin-top: 40vh;
  padding: 40px 5px;
  border-radius: 20px;
  background-color: rgb(246, 247, 251);
}

.box {
  overflow: auto;
  width: 100%;
  height: 630px;
  background-color: rgb(246, 247, 251);
  border-radius: 50px;
}

.main-content {
  overflow: auto;
  margin: 2% 1%;
  height: 586px;
  
}
/*------------- START SCROLL BAR DESIGN------------*/
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(22, 29, 36); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0); 
}
/*-------------END OF SCROLL BAR DESIGN------------*/

.Hello h1 {
  display: block;
  font-size: 36px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.Hello h2 {
  display: block;
  font-size: 18px;
}

.hello-line {
  display: inline-block;
  text-align: left;
  height: 3px;
  width: 150px;
  background-color: rgb(214, 213, 205);
  margin-top: 0px;
}

.feature-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.feature-item {
  height: 420px;
  width: 230px;
  min-width: 200px;
  border-radius: 30px;
  background-color: rgb(38, 42, 65);
  position: relative;
  margin: auto;
}

.feature-item:hover {
  box-shadow: 5px 5px 5px rgb(189, 187, 187);
}

.feature-name {
  display: flex;
  flex-direction: row;
}

.feature-name-box {
  display: inline-block;
  height: 36px;
  width: 10px;
  background-color: rgba(248, 226, 23, 0.658);
  margin: 20px 5px 20px 20px;
}

.feature-name h3{
  display: inline-block;
  text-align: left;
  margin: 20px 20px 20px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
}

.feature-image {
  display: block;
  height: 150px;
  border-radius: 30px;
  margin: auto;
}

.feature-desc {
  display: inline-block;
  font-size: 12px;
  color: white;
  text-align: center;
  margin: 30px;
}

.btn-feature {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  height: 40px;
  width: 100px;
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(238, 216, 93);
  font-weight: bold;
  color: rgb(25, 6, 92);
}

.btn-feature:hover {
  background-color: rgb(175, 150, 4);
}