.header-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.left-header-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 55px;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.header-logo{
  height: 55px;
  margin-left: 1vw;
  margin-right: 2vw;
}

.searchbox-container {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  border: solid 2px rgb(248, 248, 248);
  background-color: rgb(248, 248, 248);
}

.searchbox-container img {
  height: 20px;
  margin: auto 7px;
}

.searchbox-container input {
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
}

.searchbox-container input:focus {
  outline: none;
  background-color: white;
}

.focus {
  border: solid 2px rgb(248, 248, 248);
  background-color: white;
}

.right-header-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 55px;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.notification {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: rgb(230, 232, 238);
  margin-right: 20px;
}

.account-name h2{
  font-size: medium;
}

.account-name h3 {
  font-size: small;
}

.account-picture img{
  height: 45px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 1vw;
  cursor: pointer;
}

.body-wrapper {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 90px);
  width: 100vw;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: calc(206.05px + 3vw);
  height: calc(100vh - 90px);
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}

.btn-sidebar {
  display: flex;
  flex-direction: row;
  width: calc(206.05px + 1vw );
  height: 45px;
  margin: 0 auto 10px auto;
  border-radius: 15px;
  cursor: pointer;
}

.btn-sidebar:hover {
  background-color: rgba(248, 226, 23, 0.658);
}

.btn-sidebar:hover .sidebar-text h3 {
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.btn-sidebar:hover .sidebar-icon {
  background-color: rgb(38, 42, 65);
  color: rgb(255, 255, 255);
  opacity: 1;
  border: 0px;
}

.sidebar-active {
  background-color: rgba(248, 226, 23, 0.658);
}

.sidebar-active .sidebar-text h3 {
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

.sidebar-active .sidebar-icon {
  background-color: rgb(38, 42, 65);
  color: rgb(255, 255, 255);
  opacity: 1;
  border: 0px;
}

.sidebar-icon {
  display: flex;
  width: 35px;
  height: 35px;
  border: 1px solid rgb(158, 157, 157);
  border-radius: 8px;
  margin: 5px 5px;
  background-color: white;
  opacity: 0.5;
}

.sidebar-icon i {
  margin: auto;
}

.sidebar-text {
  margin: auto auto auto 10%;
}

.sidebar-text h3{
  display: block;
  margin: auto;
  font-size: 14px;
}

.content-container {
  display: flex;
  width: calc(100vw - 206.05px - 4vw);
  height: calc(100vh - 90px - 1vw);
  border-radius: 30px;
  background-color: rgb(248, 248, 248);
}

.content-box-container {
  width: calc(100vw - 206.05px - 4vw - 3vw);
  height: calc(100vh - 90px - 4vw);
  margin: auto;
  overflow: auto;
}

.hello-text {
  display: inline-block;
  font-size: 18px;
  color: rgb(175, 174, 174);
  margin-bottom: 40px;
}

.hello-text span {
  font-weight: bold;
  color: black;
}

.feature-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.feature-header img {
  height: 30px;
  margin: auto 10px auto 0;
}

.feature-header h2 {
  display: block;
  margin: auto 0;
  font-size: 18px;
  font-weight: lighter;
}

.feature-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-item {
  height: 420px;
  width: 230px;
  min-width: 200px;
  border-radius: 30px;
  background-color: rgb(38, 42, 65);
  position: relative;
}

.feature-item:hover {
  box-shadow: 5px 5px 5px rgb(189, 187, 187);
}

.feature-name {
  display: flex;
  flex-direction: row;
}

.feature-name-box {
  display: inline-block;
  height: 36px;
  width: 10px;
  background-color: rgba(248, 226, 23, 0.658);
  margin: 20px 5px 20px 20px;
}

.feature-name h3{
  display: inline-block;
  text-align: left;
  margin: 20px 20px 20px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
}

.feature-image {
  display: block;
  height: 150px;
  border-radius: 30px;
  margin: auto;
}

.feature-desc {
  display: inline-block;
  font-size: 12px;
  color: white;
  text-align: center;
  margin: 30px;
}

.btn-feature {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  height: 40px;
  width: 100px;
  display: block;
  margin: auto;
  border-radius: 5px;
  background-color: rgb(238, 216, 93);
  font-weight: bold;
  color: rgb(25, 6, 92);
}

.btn-feature:hover {
  background-color: rgb(175, 150, 4);
}